.contextMenu {
  position: absolute;
  z-index: 10;
  background: linear-gradient(#222, #111 40%);
  color: #fff;
  border-radius: 8px;
  border: 1px solid #444;
  padding: 0 0 4px 0;
  user-select: none;
  min-width: 125px;
  font-size: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.contextBg {
  position: absolute;
  z-index: 9;
  top: 0;
  border: 1px solid red;
  min-width: 120px;
  height: 100%;
}

.contextHeader {
  padding: 7px 16px;
  color: rgb(200, 200, 200);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px 8px 0 0;
  cursor: default;
}

.contextRow {
  white-space: nowrap;
  padding: 5px 6px 5px 12px;
  margin: 3px 3px 1px 3px;
  display: grid;
  grid-column: span 2;
  grid-template-columns: subgrid;
}

.contextRows {
  display: grid;
  grid-template-columns: 1fr auto;
}

.contextRows.col2 {
  grid-template-columns: 1fr auto;
  column-gap: 15px;
}

.contextRow:hover {
  background: linear-gradient(#42982d, #265314);
  border-radius: 4px;
  cursor: pointer;
}

.flowContainer {
  height: 100%;
  width: 100%;
}

.shortcut {
  color: #aaa;
}
