.tab_tabs {
  /* display: grid; */
  background: linear-gradient(to bottom, #202020 0, #222 60%);
  /* grid-auto-flow: column; */
  color: #fff;
  /* grid-auto-columns: max-content; */
  border-bottom: 1px solid #383d3f;
}
.tab_tab {
  display: inline-block;
  z-index: 2;
  user-select: none;
  max-height: 28px;
  border-right: 1px solid #000;
  margin: 3px 1px 0 0;
  background: #383d3f;
  color: #ddd;
  border-radius: 5px 5px 0 0;
  padding: 3px 11px 4px;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.9), inset 0 1px rgba(255, 255, 255, 0.15);
  text-shadow: -1px -1px 1px #375a029c;
  background: linear-gradient(rgba(63, 63, 63, 1), rgba(46, 46, 46, 1));
}

.tab_tab:hover {
  background: linear-gradient(#4f4f4f, #3f3f3f);
}

.tab_selected {
  box-shadow: inset 0 3px 5px #9fd400;
  text-shadow: -1px -1px 1px #375a029c;
  background: #729700;
}
.tab_selected:hover {
  background: #7da700;
}

.tab_tab :global(.close) {
  margin-left: 6px;
  color: rgb(176, 99, 99);
  opacity: 0.9;
}

.tab_tab:hover :global(.close) {
  opacity: 1;
}

.tab_tab:hover :global(.close):hover {
  color: rgb(255, 58, 58);
}
