/*******************************************************************************
 * Container Classes
 ******************************************************************************/

.editorContainer {
  /* apparently required to force inner 100% height elements to stay within 
     the container, rather than be 100% of page height */
  position: relative;
  width: 100%;
  height: 100%;
}

.editorControls {
  position: relative;
  background: linear-gradient(0deg, #1a2317 10%, rgb(41, 41, 41));
  box-shadow: inset 0 1px 0 rgb(59 59 59);
  padding: 3px 6px 2px;
}

.sceneControls {
  padding: 6px 12px;
  background: linear-gradient(45deg, #1a1a1a, rgb(41, 41, 41));
}
:global(.condensed).sceneControls {
  padding: 3px 6px 2px;
}

.sceneContainer {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.babylonContainer {
  height: 100%;
  width: 100%;
}

.babylonContainer canvas {
  height: 100%;
  width: 100%;
}

.sceneAndControls {
  height: 100%;
  display: grid;
}
.smallScreen .sceneAndControls {
  display: grid;
  grid-template-rows: auto 1fr;
}

.code {
  border: 0;
  font-size: 14px;
  min-height: 360px;
  background: #111;
  color: #fff;
  line-height: 1.2em;
  overflow: hidden;
  resize: none;
}

.codeError {
  background: rgb(46, 0, 0);
  color: rgb(255, 161, 161);
  font-family: monospace;
  white-space: break-spaces;
  padding: 10px;
}

/* editor specific tab styles */
.errored {
  box-shadow: inset 0 1px #d60000, inset 0 2px #8a0000be;
  background: rgb(176, 0, 0) !important;
}

.searchHeader {
  top: 0;
  position: sticky;
  z-index: 1;
  padding: 10px 10px;
  background: linear-gradient(0deg, #1a1a1a, rgb(41, 41, 41));
}

/*******************************************************************************
 * Split Pane Management
 ******************************************************************************/

.vSplit {
  background: linear-gradient(0deg, #1a1a1a, rgb(41, 41, 41));
  box-shadow: inset 0 1px 0 #000, inset -1px 0 0 #434343,
    inset 0 1px 20px rgba(0, 0, 0, 0.1);
}

.vScroll {
  overflow-y: scroll;
}

.splitInner {
  position: relative;
  width: 100%;
}

/*******************************************************************************
 * Form styles
 ******************************************************************************/

.radioLabel {
  white-space: nowrap;
  font-size: 12px;
  color: #ddd;
  cursor: pointer;
  line-height: 1.1em;
}
.radioLabel input {
  position: relative;
  top: 2px;
}
textarea.error {
  border: 1px inset red;
}

.button {
  align-items: center;
  margin: 1px;
  cursor: pointer;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;

  color: #fff;
  background: linear-gradient(180deg, #4b91f7 0%, #367af6 100%);
  background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
    inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:disabled {
  background: linear-gradient(0, #4b91f7 0%, #367af6 100%);
  color: #111;
  text-shadow: 2px ​1px 2px #aaa;
}

.button:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2),
    0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
    0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.uiGroup {
  margin: 5px;
  border: 1px inset #444;
  border-radius: 4px;
  box-shadow: 0 0 10px inset #222;
  color: #fff;
  padding: 20px 25px;
  background: linear-gradient(45deg, #1a1a1a, rgb(41, 41, 41));
}

.uiHeader {
  padding: 0;
  margin: 0 0 10px;
  font-size: 16px;
  font-weight: bold;
}

.uiInput {
  margin: 1px;
  padding: 3px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;
  padding: 8px 16px;

  color: #fff;
  background: linear-gradient(180deg, #222 0%, #202020 100%);
  background-origin: border-box;
  box-shadow: 0px 1px 1px rgb(114, 114, 114),
    inset 0px 0.8px 0px -0.25px rgb(0, 0, 0);
}
.uiInput[readonly] {
  background: linear-gradient(180deg, #303030 0%, #2d2d2d 100%);
  color: #ddd;
}

.formButton {
  align-items: center;
  margin: 1px;
  cursor: pointer;
  padding: 3px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: 1px solid #999;

  color: #fff;
  background: linear-gradient(180deg, #333 0%, #1f1f1f 100%);
  background-origin: border-box;
  box-shadow: 0px 1px -1px rgb(255, 255, 255),
    inset 0px 0.8px 0px 0.25px rgb(51, 51, 51);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.formButton:disabled {
  background: linear-gradient(180deg, rgb(77, 77, 77) 0%, #414141 100%);
  color: #ddd;
  text-shadow: 2px ​1px 2px #aaa;
}

/*******************************************************************************
 * Utility classes
 ******************************************************************************/

.selected.errored,
.secondary .tab_tab.selected.errored {
  background: rgb(84, 0, 0);
}
.secondary {
  background: #444;
}
.secondary .tab_tab {
  background: #444;
}
.secondary .tab_tab.selected {
  background: #111;
}
.secondary .tab_tab.errored {
  background: rgb(176, 0, 0);
}

.sceneElements {
  position: relative;
  height: 100%;
  background: #222;
  /**
   * This is required to make the scene canvas component full height of its
    * container. This apparently forces the vertical grid of the scene controls
    * and the scene to not overflow the grid - apparently by default grids
    * cells are never smaller than their contents, even with overflow:hidden
    * set.
    */
  overflow: hidden;
}

.playPause {
  border: 0 none;
  background: transparent;
  margin: 0;
  padding: 0;
  color: #ddd;
  cursor: pointer;
}
.playPause:hover {
  color: #fff;
}

.activeEngine {
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  text-shadow: 0 0 10px #000;
}

/* shy header, greedy footer */
.shrinkGrowRows {
  position: relative; /* apparently required to force inner 100% height elements to stay within 
     the container, rather than be 100% of page height */
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}
/* greedy header, shy footer */
.growShrinkRows {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.controlGrid {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 4px;
}

.nodeEditorPanel {
  background: #2a2a2a;
  overflow: scroll;
}

.labeledSection {
  background: #2a2a2a;
  padding: 6px 10px;
  border-radius: 6px;
  position: relative;
  margin: 10px 0 0;
}
.labeledSection h3 {
  margin: 0 0 10px;
  font-size: 12px;
  color: #999;
  font-weight: bold;
}

.colcolauto {
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 200px)) 1fr;
  gap: 4px;
}
.autocolmax {
  display: grid;
  grid-template-columns: auto minmax(auto, 200px) 1fr;
  gap: 4px;
}
.grid_200_4 {
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 200px));
}

.fitMaxFitRows {
  display: grid;
  min-height: 100%;
  grid-template-rows: auto 1fr auto;
}

.guiMsg {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
}
.guiError {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fee;
  color: #f00;
  padding: 10px;
}

.compiling {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
}
.compiling:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    rgba(200, 200, 200, 0.7),
    rgba(150, 150, 150, 0.6)
  );
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.compiling span {
  color: #fff;
  text-shadow: 0 0 5px #000;
  position: relative;
  z-index: 2;
}

.graphFooter {
  background: linear-gradient(#31382a, #2b3028);
  color: #fff;
  border-top: 1px solid #47553e;
  padding: 3px 12px 4px;
  text-align: center;
  font-size: 12px;
  width: 100%;
  box-shadow: 0 0 20px #000;
}

.graphFooter .divider {
  color: #182a0b;
  text-shadow: 1px 0 0px #68775d;
}
.graphFooter span {
  color: #a2ba91;
  padding: 0 4px;
}
.graphFooter a {
  color: #a6cb00;
}
.graphFooter a:hover {
  text-decoration: underline;
  color: #d1f72a;
}

.readOnlyMsg {
  font-size: 14px;
  border-radius: 6px;
  padding: 4px 12px;
  background: rgb(44, 44, 44);
  border: 1px solid rgba(255, 255, 255, 0.212);
  color: #fff;
}
.readOnlyMsg svg {
  color: #aaa;
  margin-right: 0.5em;
}

.errorPill {
  position: relative;
  font-size: 14px;
  border-radius: 6px;
  padding: 8px 26px 8px 10px;
  background: rgba(255, 0, 0, 0.2);
  border: 1px solid rgb(135, 77, 77);
  color: #fff;
}
.errorPill ul {
  margin: 0 0 0 16px;
  padding: 0;
}

.errorPill .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 6px;
  cursor: pointer;
  color: #fff;
  font-size: 12px;
  background: rgba(255, 0, 0, 0.2);
  border-width: 0 0 1px 1px;
  border-color: rgb(135, 77, 77);
  border-radius: 0 6px 0 6px;
  border-style: solid;
}
.errorPill .close:hover {
  background: rgba(255, 0, 0, 0.4);
}

/* Toolbar row for save/fork/import */
.controlBar {
  text-align: right;
  background: linear-gradient(to bottom, #202020 0, #222 60%);
  color: #fff;
  border-bottom: 1px solid #383d3f;
  padding: 2px 8px 3px;
}

/*******************************************************************************
 * Modal styles
 ******************************************************************************/

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background: linear-gradient(0deg, #1a1a1a, rgb(41, 41, 41));
  border: 1px solid #444;
  border-radius: 14px;
  box-shadow: 0 0 10px #000;
  height: auto;
}
.modalContent {
  padding: 30px 40px;
  max-height: 80vh;
}

.bottomModal {
  position: absolute !important;
  left: 4px;
  right: 5px;
  bottom: 5px;
  z-index: 10;
  background: linear-gradient(0deg, #1a1a1a, rgb(41, 41, 41));
  border: 1px solid #444;
  border-radius: 6px;
  box-shadow: 0 0 10px #000;
}
.bottomModalContent {
  height: 100%;
  padding: 6px 14px;
  overflow: scroll;
}
.closeModal {
  position: absolute;
  top: -8px;
  right: -8px;
  cursor: pointer;
  color: #ddd;
  font-size: 15px;
  border: 0 none;
  background: transparent;
  z-index: 2;
}
.closeModal::after {
  transition: all ease 0.2s;
  content: '';
  display: block;
  position: absolute;
  top: -1px;
  left: 1px;
  border-radius: 100%;
  background: rgb(16 16 16);
  height: 18px;
  width: 18px;
  border: 1px solid #8a8a8a;
  z-index: -1;
}
.closeModal:hover {
  color: #fff;
}
.closeModal:hover::after {
  background: rgb(77 77 77);
  border: 1px solid #bbb;
}

/*******************************************************************************
 * Asset Management
 ******************************************************************************/

.assetGroup {
  border: 1px solid #333;
  background: linear-gradient(#333, #222);
  border-radius: 6px;
  padding: 4px 8px;
  margin: 0 0 6px;
}
.groupTitle {
  margin: 0 0 10px;
  font-size: 14px;
}
.groupList {
  display: grid;
  gap: 4px;
  grid-template-columns: 128px repeat(auto-fill, minmax(64px, 1fr));
  align-items: start;
  font-size: 12px;
}
.diffuseList {
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(auto-fill, minmax(128px, 1fr));
  align-items: start;
  font-size: 12px;
}
.assetName {
  color: #ccc;
  text-align: center;
  margin: 3px 0 0;
}
.assetList {
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(auto-fill, minmax(64px, 1fr));
  align-items: start;
  font-size: 12px;
}
.assetCard {
  padding: 2px;
  border-radius: 8px;
  cursor: pointer;
}
.assetCard:hover {
  outline: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(0, 0, 0, 0.5);
}
.assetThumbnail {
  overflow: hidden;
  aspect-ratio: 1 / 1;
  border-radius: 6px;
  position: relative;
}
.assetThumbnail img {
  width: 100%;
}
.hiRes {
  position: absolute;
  bottom: 2px;
  right: 2px;
  font-size: 10px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  border-radius: 4px;
  padding: 2px 6px;
}
.assetCard:hover img {
  box-shadow: inset 0 0 1px solid rgba(255, 255, 255, 1);
}
.assetCard:hover .assetSubtype {
  color: #fff;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.4);
}
.assetSubtype {
  color: #ccc;
  text-overflow: ellipsis;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  margin: 3px 0 0;
}

.textureSearch {
  min-width: 200px;
}

.fallbackEditor {
  background: #000;
  color: #fff;
}

.resetVeiw svg:first-child {
  color: #ddd;
  filter: drop-shadow(0 0 1px rgb(0 0 0 / 1));
  position: relative;
  left: -2px;
  top: -2px;
}
.resetVeiw svg:last-child {
  color: #fff;
  position: relative;
  left: -17px;
  top: -1px;
  filter: drop-shadow(0 0 1px rgb(0 0 0 / 1));
}

/*******************************************************************************
 * Tab annotations
 ******************************************************************************/

.tabBar {
  min-height: 28px;
  padding: 2px 0 0;
}

.tabIcon {
  margin-right: 0.25em;
}

.tabIcon.tabFragment {
  color: #a0ff5d;
}

.tabIcon.tabVertex {
  color: #ff5f5f;
}

.tabControls {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 10;
  display: grid;
  grid-template-columns: auto auto 1fr;
}
.tabControls.col3 {
  grid-template-columns: auto 1fr 1fr;
}

.tabAnnotation {
  font-size: 10px;
  color: #ddd;
  display: inline-block;
  margin-left: 0.25em;
  text-transform: uppercase;
}
.fragAnnote {
  color: #a0ff5d;
}
.vertAnnote {
  color: #ff5f5f;
}

.sceneTabControls {
  position: absolute;
  top: 4px;
  right: 10px;
  display: flex;
  gap: 10px;
}

.inlineClose {
  color: #ccc;
  cursor: pointer;
}
.inlineClose:hover {
  color: #fff;
}

/*******************************************************************************
 * Metadata shader name display
 ******************************************************************************/

.editorMetadata {
  border-radius: 8px;
  padding: 3px 8px 3px 3px;
  position: absolute;
  left: 50%;
  top: 2px;
  transform: translateX(-50%);
  z-index: 2;
  box-shadow: 0 0 4px #000, 0 0 0 1px #9f9f9f91;
  background: #333;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  color: #ddd;
}

.smallScreen .editorMetadata {
  transform: none;
  left: auto;
  right: 0px;
}

.editorMetadata:hover {
  color: #fff;
}

.editorMetadata svg {
  color: #9a9;
  position: relative;
  top: 5px;
}
.editorMetadata:hover svg {
  color: rgb(169, 255, 108);
}

.metadataName {
  position: relative;
  top: 2px;
}
.editorMetadata:hover .metadataName {
  text-decoration: underline;
}

.imagePreview {
  width: 22px;
  aspect-ratio: 1/1;
  border-radius: 6px;
  background: #1f1f1f;
  overflow: hidden;
}
.imagePreview img {
  width: 100%;
  /* margin-top: -50px; */
  object-fit: contain;
}

.screenshotContainer {
  position: relative;
  overflow: hidden;
}

.screenshotOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.2s;
  color: white;
  font-weight: bold;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
}

.screenshotContainer:hover .screenshotOverlay {
  opacity: 1;
}

.fullScreenshot {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 11px;
  background: #1f1f1f;
  overflow: hidden;
}
.fullScreenshot img {
  width: 100%;
  /* margin-top: -50px; */
  object-fit: contain;
}

/*******************************************************************************
 * File Tree Viewer - see also global.css
 ******************************************************************************/

.treePanel {
  overflow-y: scroll;
  width: 100%;
  padding: 6px 12px;
  box-shadow: inset 0 -1px 2px #666;
  background: linear-gradient(45deg, #1a1a1a, rgb(41, 41, 41));
}

.treeIcon {
  width: 1em;
  padding: 0 0.5em 0 0;
}

.treeFragment .treeIcon {
  color: #a0ff5d;
}

.treeFragment .treeIcon {
  color: #a0ff5d;
}

.treeVertex .treeIcon {
  color: #ff5f5f;
}

.treeUnknown .treeIcon {
  color: #ccc;
}

.treeClose {
  position: absolute;
  right: 0.75em;
  color: #aaa;
}
.treeClose:hover {
  color: #fff;
}

.treePanel div[role='treeitem'] {
  padding: 2px 0px;
}
[role='treeitem']:has(> .treeErrored) {
  color: rgb(255, 194, 194) !important;
  background: rgba(255, 0, 0, 0.2) !important;
}
div[role='treeitem'][aria-selected='true']:has(> .treeErrored) {
  box-shadow: inset 0 0 5px rgba(255, 41, 41, 0.685) !important;
}
