.inlinecontrol {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 4px;
}

.label {
  line-height: 25px;
  color: #ccc;
  font-size: 14px;
  letter-spacing: 0.5px;
}
.label:not([for='']) {
  cursor: pointer;
}

.select,
.input,
.checkbox,
.textinput,
.formbutton {
  line-height: 18px;
  box-sizing: border-box;
  color: #eee;
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 6px;
  border: 0 none;
  white-space: nowrap;
  outline: none;
}

/* For windows, this styles the native open dropdown element background, since
   the linear-gradient background of the select is not applied to the bg of
   the open dropdown, even though the text color is. Without this, it's white
   text on a white background on windows */
.select option {
  background: rgb(46, 46, 46);
}

.checkbox {
  padding: 4px;
}

.size2 {
  line-height: 16px;
  font-size: 13px;
  padding: 3px 16px !important;
  border-radius: 4px;
}
.size3 {
  line-height: 16px;
  font-size: 13px;
  padding: 3px !important;
  border-radius: 4px;
}

/* "button" is a default css class of monaco/vscode editor and causes conflicts,
   which is why this is instead 'formbutton' */
.formbutton {
  transition: all 0.2 ease;
  cursor: pointer;
  width: 100%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.9), inset 0 1px rgba(255, 255, 255, 0.15),
    inset 0 0 4px #cdffb122;
  text-shadow: -1px -1px 0 #000;
  background: linear-gradient(rgb(83 117 76), rgb(27 59 18));
  /* for links styled as button */
  text-decoration: none;
}
.formbutton[disabled] {
  user-select: none;
  color: #999;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.9), inset 0 0 4px #cdffb122;
  background: linear-gradient(rgb(56, 83, 51), rgb(37, 71, 28));
}
.formbutton[disabled]:hover {
  cursor: auto;
}
.formbutton:hover {
  text-decoration: none;
}
.formbutton:not([disabled]):hover {
  background: linear-gradient(rgb(100, 159, 88), rgb(26, 70, 14));
}
.formbutton:active {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.9), 0 1px 5px inset #000000aa;
}
.buttonauto {
  width: auto;
  padding-left: 24px;
  padding-right: 24px;
}

.formbutton.secondary {
  color: #ddd;
  background: linear-gradient(rgb(101, 115, 99), rgb(49, 55, 47));
}
.formbutton.secondary:not([disabled]):hover {
  background: linear-gradient(rgb(140, 161, 136), rgb(60, 77, 55));
}

.nodeButton {
  padding: 3px 10px !important;
  background: linear-gradient(rgb(60, 70, 69), rgb(42, 47, 50));
}
.nodeButton:not([disabled]):hover {
  background: linear-gradient(rgb(76, 95, 93), rgb(55, 65, 71));
}

.select {
  cursor: pointer;
  width: 100%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.9), inset 0 1px rgba(255, 255, 255, 0.15);
  text-shadow: -1px -1px 0 #000;
  background: linear-gradient(rgba(63, 63, 63, 1), rgba(46, 46, 46, 1));
}
.select:hover {
  background: linear-gradient(rgba(70, 70, 70, 1), rgba(51, 51, 51, 1));
}

.select,
.input,
.textinput {
  width: 100%;
}

.textinput {
  background: linear-gradient(rgb(41, 43, 40), rgb(34, 34, 34));
  box-shadow: 0 0 2px rgb(0 0 0 / 90%), inset 0 -1px rgb(255 255 255 / 4%),
    0 1px 6px inset #00000033;
  appearance: none;
}
.textinput:focus {
  background: linear-gradient(rgb(52, 61, 49), rgb(46, 47, 46));
  box-shadow: 0 0 2px rgb(0 0 0 / 90%), inset 0 -1px rgb(255 255 255 / 4%),
    0 1px 6px inset #00000033, inset 0 0px 6px #b7f3b688,
    inset 0 0 1px #ffffffff;
  outline: 0 none;
}
.textinput[readonly] {
  color: #ccc;
  background: linear-gradient(rgb(96, 96, 96), rgba(90, 90, 90, 1));
}
.textinput[readonly]:focus {
  box-shadow: 0 0 2px rgb(0 0 0 / 90%), inset 0 -1px rgb(255 255 255 / 10%),
    inset 0 0 7px #a5ffaf11;
}

.checkbox {
  margin: 0;
  cursor: pointer;
  position: relative;
  top: 4px;
  background: linear-gradient(rgba(46, 46, 46, 1), rgba(68, 68, 68, 1));

  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0 none;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.9), inset 0 1px rgba(255, 255, 255, 0.15);

  display: grid;
  place-content: center;
}

.checkbox:hover {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.9), inset 0 1px rgba(255, 255, 255, 0.15),
    inset 0 0 10px rgba(255, 255, 255, 0.1);
}

/* Checkmark (hidden by default) */
.checkbox::before {
  content: '';
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: center center;
  transition: 40ms transform ease-in-out;
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.8);
  /* Windows High Contrast Mode */
  background-color: rgb(47, 255, 0);
}

.checkbox:checked::before {
  transform: scale(1);
}

.checkbox:focus {
  outline: none;
  outline-offset: max(2px, 0.15em);
}

.checkbox:disabled {
  --form-control-color: var(--form-control-disabled);

  color: var(--form-control-disabled);
  cursor: not-allowed;
}

.errorText {
  color: rgb(224, 56, 56);
}

.formerror {
  background: rgb(109, 0, 0);
  color: #fff;
  border-radius: 4px;
  padding: 6px 12px;
  box-shadow: inset 0 1px #ffffff28;
}

.formsuccess {
  background: rgb(29, 109, 0);
  color: fff;
  border-radius: 4px;
  padding: 6px 12px;
  box-shadow: inset 0 1px #ffffff28;
}

.linkbutton {
  width: auto;
  display: inline-block;
}

.linkbutton:hover {
  color: #fff;
}

.linkbutton svg {
  height: 1.5em;
  margin: -4px 0;
}

.msg {
  border-radius: 12px;
  padding: 10px 20px;
}
.msg.error {
  background: rgba(255, 0, 0, 0.2);
  border: 1px solid rgb(135, 77, 77);
  color: #fff;
}

.searchwrap {
  position: relative;
}
.searchinput {
  padding: 4px 12px 4px 35px;
  margin-top: -1px;
  background: linear-gradient(rgb(76, 80, 76), rgb(56, 56, 56));
}
.searchinput::placeholder {
  color: #aaa;
}
.searchwrap svg {
  position: absolute;
  width: 0.99em;
  top: 5px;
  left: 9px;
  color: #999;
  z-index: 1;
}
.searchwrap .clearSearch {
  position: absolute;
  right: 5px;
  top: 4px;
  bottom: 0;
  left: auto;
  display: grid;
  place-content: center;
  cursor: pointer;
  color: #bea8a8;
  z-index: 1;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.clearSearch:hover {
  color: #fff;
}

.clearable .clear {
  position: absolute;
  right: 8px;
  top: 8px;
  bottom: 0;
  left: auto;
  display: grid;
  place-content: center;
  cursor: pointer;
  color: #bbb;
  z-index: 1;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.clearSearch:hover {
  color: #fff;
}

.oneLineForm {
  display: grid;
  grid-template-columns: 1fr min-content;
  gap: 12px;
}

.searching {
  position: absolute;
  top: 0;
  right: 0;
  min-height: 200px;
  max-height: 400px;
  height: 100%;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.searching span {
  background: rgba(0, 0, 0, 0.7);
  padding: 4px 8px;
  border-radius: 12px;
}

.gridHelper {
  width: 128px;
  height: 128px;
  position: relative;
  box-shadow: inset 0 1px 4px #1f1f1f, inset 0 -1px 0 #444;
  background: -1px -1px, -1px -1px, -1px -1px, -1px -1px #111;
  border-radius: 4px;
  background-image: linear-gradient(#aaa 2px, transparent 2px),
    linear-gradient(90deg, #aaa 2px, transparent 2px),
    linear-gradient(rgba(255, 255, 255, 0.2) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
  background-size: 64px 64px, 64px 64px, 8px 8px, 8px 8px;
}
.dragHandle {
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #4e4e4e 0, #222 100%);
  box-shadow: inset 0 1px 1px #858585, 0 1px 2px #1b1b1b;
  cursor: pointer;
  z-index: 2;
}

.labeledInput {
  position: relative;
}
.labeledInput input {
  padding-left: 26px;
}
.labeledInput label {
  position: absolute;
  top: 0.25em;
  left: 0.8em;
  font-size: 14px;
  color: #777;
}
.labeledInput input.label-med {
  padding-left: 44px;
}
