/*******************************************************************************
 * Global styles
 ******************************************************************************/

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
  background: #000;
  color: #fff;
  /* stop mac left swipe gesture going back */
  overscroll-behavior-x: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* Required for editor to be full height */
#__next {
  height: 100%;
}

a {
  color: rgb(201, 255, 121);
  text-decoration: none;
}
a:hover {
  color: rgb(202, 255, 122);
  text-shadow: 0 0 20px #d8ffa270;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

/*******************************************************************************
 * Utility Classes
 ******************************************************************************/

.nowrap {
  white-space: nowrap;
}

.noselect {
  user-select: none;
}

.relative {
  position: relative;
}

.right {
  text-align: right;
}
.center {
  text-align: center;
}
.flexCentered {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hidden {
  display: none;
}

.bottomDivide {
  padding-bottom: 10px;
  box-shadow: 0 1px 0 #303930;
}

.topDivide {
  padding-top: 20px;
  box-shadow: 0 -1px 0 #303930;
}

.wFull {
  width: 100%;
}

.block {
  display: block;
}

.fullScroll {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: scroll;
}

.auto {
  width: auto !important;
}

.primary {
  color: #fff;
}
.blerfiarie {
  color: #ccc;
}
.secondary {
  color: #aaa;
}
.px12 {
  font-size: 12px !important;
}

.linkBtn {
  cursor: pointer;
}

.linkSpan:hover {
  text-decoration: none;
}
.linkSpan:hover span:not(.noHover) {
  text-decoration: underline;
}

.y-scroll {
  overflow-y: scroll;
}

/* hacky little class to position close button in row at bottom of row */
.flexEnd {
  display: flex;
  align-items: flex-end;
  padding-bottom: 0.3em;
}

/*******************************************************************************
 * Spacing Utility Classes
 ******************************************************************************/

.m0 {
  margin: 0 !important;
}
.m-5 {
  margin: 5px !important;
}
.m-10 {
  margin: 10px !important;
}
.m-15 {
  margin: 15px !important;
}
.m-20 {
  margin: 20px !important;
}
.m-25 {
  margin: 25px !important;
}
.m-50 {
  margin: 50px !important;
}
.m-top-5 {
  margin-top: 5px !important;
}
.m-top-10 {
  margin-top: 10px !important;
}
.m-top-15 {
  margin-top: 15px !important;
}
.m-top-20 {
  margin-top: 20px !important;
}
.m-top-25 {
  margin-top: 25px !important;
}
.m-top-50 {
  margin-top: 50px !important;
}
.m-top-100 {
  margin-top: 100px !important;
}
.m-top-200 {
  margin-top: 200px !important;
}

.m-right-5 {
  margin-right: 5px !important;
}
.m-right-10 {
  margin-right: 10px !important;
}
.m-right-15 {
  margin-right: 15px !important;
}
.m-right-20 {
  margin-right: 20px !important;
}
.m-right-25 {
  margin-right: 25px !important;
}
.m-right-50 {
  margin-right: 50px !important;
}
.m-right-100 {
  margin-right: 100px !important;
}
.m-right-200 {
  margin-right: 200px !important;
}

.m-bottom-5 {
  margin-bottom: 5px !important;
}
.m-bottom-10 {
  margin-bottom: 10px !important;
}
.m-bottom-15 {
  margin-bottom: 15px !important;
}
.m-bottom-20 {
  margin-bottom: 20px !important;
}
.m-bottom-25 {
  margin-bottom: 25px !important;
}
.m-bottom-50 {
  margin-bottom: 50px !important;
}
.m-bottom-100 {
  margin-bottom: 100px !important;
}
.m-bottom-200 {
  margin-bottom: 100px !important;
}

.m-left-5 {
  margin-left: 5px !important;
}
.m-left-10 {
  margin-left: 10px !important;
}
.m-left-15 {
  margin-left: 15px !important;
}
.m-left-20 {
  margin-left: 20px !important;
}
.m-left-25 {
  margin-left: 25px !important;
}
.m-left-50 {
  margin-left: 50px !important;
}
.m-left-100 {
  margin-left: 100px !important;
}
.m-left-200 {
  margin-left: 200px !important;
}

.p-5-10 {
  padding: 5px 10px !important;
}
.p-10-20 {
  padding: 10px 20px !important;
}

/*******************************************************************************
 * Grid Classes
 ******************************************************************************/

.grid {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto;
  grid-column-gap: 2px;
}
.col2 {
  grid-auto-flow: row;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.col3 {
  grid-auto-flow: row;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.col4 {
  grid-auto-flow: row;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.shrinkGrow {
  grid-auto-flow: row;
  grid-template-columns: min-content 1fr;
}
.growShrink {
  grid-auto-flow: row;
  grid-template-columns: 1fr min-content;
}
.growShrinkShrink {
  grid-auto-flow: row;
  grid-template-columns: 1fr min-content min-content;
}
.growShinkGrow {
  grid-auto-flow: row;
  grid-template-columns: 1fr min-content 1fr;
}
.growGrowShrink {
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr min-content;
}
.shrinkGrowShrink {
  grid-auto-flow: row;
  grid-template-columns: min-content 1fr min-content;
}
.growGrowGrowShrink {
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr 1fr min-content;
}
.growGrowGrowShrinkShrink {
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr 1fr min-content min-content;
}
.gap-5 {
  grid-gap: 5px !important;
}
.gap-10 {
  grid-gap: 10px !important;
}
.gap-s {
  grid-gap: 5px 10px;
}
.gap25 {
  grid-gap: 25px;
}
.gap50 {
  grid-gap: 50px;
}
.cardGap {
  grid-gap: 10px 15px;
}

.span2 {
  grid-column: 1 / span 2;
}

.divide-b-10 {
  border-bottom: 1px solid #303930;
  padding: 5px 0;
  margin: 5px 0;
  box-shadow: 0 1px 0 #303930;
}

@media (max-width: 600px) {
  .col2.break {
    width: 100%;
    grid-auto-flow: row;
    grid-template-columns: auto;
  }
  .col3.break {
    width: 100%;
    grid-row-gap: 10px;
    grid-auto-flow: row;
    grid-template-columns: auto;
  }
  .growShinkGrow {
    width: 100%;
    grid-auto-flow: row;
    grid-template-columns: auto;
  }
}

/*******************************************************************************
 * File Tree Viewer - see also editor.module.css
 ******************************************************************************/

/* What a bad library! */
div[role='tree'],
div[role='tree'] > div {
  width: auto !important;
  min-width: auto !important;
  height: auto !important;
}

div[role='treeitem'] {
  cursor: pointer;
  color: #ccc;
  font-size: 14px;
  padding: 4px 8px;
  height: auto !important;
  border-radius: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
div[role='treeitem'] svg {
  filter: drop-shadow(0px 0px 2px rgb(0, 0, 0));
}

div[role='treeitem'][aria-level='2']:before {
  content: '';
  display: block;
  position: absolute;
  left: 1em;
  bottom: 0;
  top: 0px;
  width: 1px;
  border-left: 1px solid #666;
}

div[role='treeitem']:hover,
div[role='treeitem'][aria-selected='true'] {
  color: #fff;
}

div[role='treeitem'][aria-selected='true'] {
  background: rgba(0, 30, 74, 0.769);
  box-shadow: inset 0 0 5px rgba(41, 126, 255, 0.685);
}

div[role='treeitem'][aria-level='2'][aria-selected='true']:before {
  display: none;
}

div[role='treeitem']:has(> .opened) {
  background: rgba(68, 75, 86, 0.505);
  box-shadow: inset 0 0 5px rgba(87, 117, 163, 0.301);
}
