.contextMenu {
  position: absolute;
  z-index: 10;
  background: linear-gradient(#222, #111 40%);
  color: #fff;
  border-radius: 8px;
  border: 1px solid #444;
  user-select: none;
  font-size: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.leftToRight {
  right: 0;
}

.childContext {
  position: absolute;
  left: 100%;
  top: 0;
}

.contextHeader {
  padding: 7px 16px;
  color: rgb(200, 200, 200);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px 8px 0 0;
  cursor: default;
}

.contextRows {
  min-width: 120px;
  display: grid;
  column-gap: 10px;
  row-gap: 2px;
  margin: 2px;
}
.contextRows.growShrink {
  grid-template-columns: auto min-content;
}
.contextRows.shrinkGrow {
  grid-template-columns: min-content auto;
}
.contextRows.shrinkGrowShrink {
  grid-template-columns: min-content auto min-content;
}

.contextRow {
  white-space: nowrap;
  border-radius: 4px;
  padding: 5px 6px 5px 6px;
  display: grid;
  grid-template-columns: subgrid;
}
.growShrink .contextRow {
  grid-column: span 2;
}
.shrinkGrow .contextRow {
  grid-column: span 2;
}
.shrinkGrowShrink .contextRow {
  grid-column: span 3;
}

.contextRow svg[data-icon='code'] {
  color: #4ebc00;
}
.contextRow svg[data-icon='image'] {
  color: #82f7ff;
}
.contextRow svg[data-icon='palette'] {
  color: #e100ff;
}
.contextRow svg[data-icon='plus'] {
  color: #975757;
}
.contextRow svg[data-icon='xmark'] {
  color: #975757;
}

.chevron {
  color: #999;
}
.contextRow:hover {
  background: linear-gradient(#42982d, #265314) !important;
  cursor: pointer;
}
.contextRow:hover .chevron {
  color: #fff;
}
.contextRow.active {
  background: linear-gradient(#407334, #1f3417);
}

.shortcut {
  color: #aaa;
}
